
/* 
    Created on : Nov 26, 2021, 4:59:47 PM
    Author     : glo

selector{   en el htm son id q llamamos aquí #id o class q llamamos como .class
    propiedad:valor
    propiedad:valor
    propiedad:valor
}
*/
body{  /*sota pengen header i tot*/
    width:100%;  /* porcentaje de la etiqueta padre, viewport width es de la pantalla*/
    max-width: 900px;  /*si la pantalla es más de 900px ya no crece más la pantalla*/
    margin:0 auto; /*margen centrado primero vertical segundo horizontal*/
    /*border: 2px solid #000; */   /* sería un marco */
    color:black;  /*meu*/
    /*background:rgb(248, 233, 233);  meu*/
   
    background-image: linear-gradient(to left, #dacaf6 0%,#f6d8e0 100%);
   
    
    
    
}

header{  /*de sota pengen div id logo y class  menu */
    height: 16vh; /* viewport height, % alto pantalla ... 100px approx  */
    width: 100%;  /* 100% de la etiqueta padre, no de la pantalla como viewport width*/
    max-width: 900px;
    margin: 20px 0px;  /*  */
    /*border: 2px solid #000; */
    
}
header #logo{   /* espacio del logo */
     height: 10vh;  /* viewport height, % alto pantalla,, si fuera % sería sobre la etiqueta padre */
     float:left;
     /*border: 2px solid #000; */
}
header #logo img{   /* imagen del logo */
     height: 10vh;  /* viewport height, % alto pantalla */
    
}
header .menu{    /*  class menu */
     height: 16vh;  /* viewport height, % alto pantalla */
     float: right;       /* alinea a la derecha */
          /*border: 2px solid #000; */
}
header .menu ul li{  /*  aquí me refiero a ul i li... los elementos lista unordered*/
     list-style: none; /*li treu lo que surt del puntet de llista al html a pelo   */
     float: left;       /* alinea a la derecha */
          /*border: 2px solid #000; */
}/*  */
header .menu ul li a{  /*  etiquetas a son els enllaços d la lista unordered*/
     background: #6e050e;  /* ponemos ascii pq es exacto, color red pondría según navegador */
     text-decoration: none;       /*  aquí le quito el underlined que pone el html */
     padding: 10px  15px;  /*  relleno */
     color:#fff;            
     font-size:1rem;   /*  unidad relativa q equivale a  16px*/
          /*border: 2px solid #000; */
}/*  */
header .menu ul li a:hover{  /*  aquí me refiero a ul i li... los elementos lista unordered*/
    background: #2d2f38; 
    color:#fff;  
}/*  */
#perfil{
    height: 14vh;  /* vh= viewport height    porcentaje alto approx 250px */
    margin: 20px 0px;
    border: 1px solid  #000;
 }/*  */
#perfil img{
    height: 14vh;  /* vh= viewport height    porcentaje alto approx 250px */
    float: left;
    border: 0px solid  #000;
 }/*  */
 #perfil h1{
    font-size: 2.1rem;  /*equiv a 50px  */
     color: #2d2f38;
     text-align:center;
               /*border: 2px solid #000; */
 }
  #perfil p{
     color: #2d2f38;
     text-align:center;
      /*border: 2px solid #000; */
 }
  #recuadros {
      width:100%;
      max-width: 900px;
      overflow: hidden;
      border:0px solid;
      margin: 20px 0px;
      text-align:left;
               /*border: 2px solid #000; */
 }
   #recuadros .recuadro{
      width:98.5%;
      overflow: hidden;
      float:left;
      padding: 5px; 
      margin-left: 0px;
      margin-right: 0 px;
      margin-top:8px;
      margin-bottom:8px;
      border:1px solid #2d2f38;
       /*border: 2px solid #000; */
 }
 #recuadros .recuadrosearch{
    width:45%;
    overflow: hidden;
    float:left;
    padding: 8px; 
    margin-left: 0px;
    margin-right: 0 px;
    margin-top:20px;
    margin-bottom:0px;
    border:1px solid #2d2f38;
     /*border: 2px solid #000; */
}

 #recuadros .recuadro.parrafo{
      color: #2d2f38;
      text-align:justify;
      border:1px solid #2d2f38;
             /*border: 2px solid #000; */
 }
 
  .boton{
      align: right;   /* quitar subrayado default  */
      text-decoration: none;            /* quitar subrayado default  */
      border: 1px solid #2d2f38;
      padding: 10px 20px;  /* márgenes verticales, horizontales  */
       /*10px 20px asus ok 9 10 inspiron ok */
       margin-top:8px;
       
      
 }
 
  .boton:hover{  /*  mouse over */
      background: #2d2f38;   /*  fondo*/
      color:#fff;  /* letras */
             /*border: 2px solid #000; */
 }
 
 
  footer{
      height: 8vh;
      width:100%;
      max-width: 900px;
      text-align:center;
      float:left;
             /*border: 2px solid #000; */
 }

 /* -----FORMULARIO----- */
 
 #formulariologin{
     width:432px;
     height:auto;
     overflow:hidden;
     padding:5px;
     float:left;  /*  lo alineamos a la izquierda  */
 }
 #formularioregistro{
     width:432px;
     height:auto;
     overflow:hidden;
     padding:5px;
     float:right;  /*  lo alineamos a la derecha  */
     
}
label {
    float: left;
    width: 30%;
}